#pai {
  display: flex;
  
  
  justify-content: center;
}

#divesquerda {

}

#divdireita{
  border-radius: 5px;
  border: #FBBC05 solid 2px;
  width: 400px;
  margin-left: 10px;
}

#maispopulares {
  border-radius: 5px;
  border: solid #FBBC05 2px;
  background-color: white;
}

#titulo {
  color: black;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 40px;

}

#titulo1 {
  color: black;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-left: 10px;

}

#subtitulo {
  color: rgb(48, 48, 48);
  font-family: 'Inter', sans-serif;
  font-size: 15px;
}

