/* Div suprema */
.pai {
  display: flex;
  gap: 200px;
}

header {
  display: flex;
  margin: auto;
  margin-top: 20px;
  background-color: #FBBC05;
  width: 90%;
  height: 50px;
  border-radius: 10px;
}

.logo {
  color: black;
  font-size: 30px;
  margin-top: 7px;
  font-family: sans-serif;
  font-weight: bold;
}

.imagemlogo {
  width: 40%;
  height: 60%;
  margin-top: 9px;
}

.logocompleto {
  display: flex;
  margin-left: 40px;
}


.pesquisa {
  margin: auto;
  
}


.barradepesquisa {
  background-color: whitesmoke;
  width: 400px;
  height: 30px;
  border-radius: 15px;
  border: none;
  padding-left: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.botaologin {
  border-radius: 18px;
  background-color: white;
  color: black;
  border: none;
  width: 80px;
  height: 35px;
  align-items: right;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.botaologin:hover {
  transform: scale(1.05);
}

.icons {
  margin-right: 40px;
  justify-items: center;
  align-items: center;
  align-self: center;
}
.sino{
  width: 30px;
  height: 30px;
}
.titulo {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 60px;
    margin-left: 5%;
}


.conteudo {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 40px;
    color: #FBBC05;
    margin-left: 5%;
}
.nomedonegocio {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-left: 5%;
    margin-top: 5%;
}
.nomengc {
    border-radius: 5px;
    border-width: 3px;
    margin-left: 5%;
    height: 40px;
    width: 180px;
    background-color: whitesmoke;
    border: solid 2px #777;
}

.descricaoestab{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-left: 5%;
    margin-top: 5%;
}
.descricao {
    border-radius: 5px;
    border-width: 3px;
    margin-left: 5%;
    height: 150px;
    width: 380px;
    background-color: whitesmoke;
    border: solid 2px #777;
}
.seucep{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-left: 5%;
    margin-top: 5%;
}
.cep {
    border-radius: 5px;
    border-width: 3px;
    margin-left: 5%;
    height: 40px;
    width: 180px;
    background-color: whitesmoke;
    border: solid 2px #777;
}
.imagem{
    
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-left: 5%;
}

.pai{
    display: flex;
    margin-left: 3%;
}

.adicione {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
}


#picture__input {
    display: none;
  }
  
  .picture {
    width: 400px;
    height: 250px;
    aspect-ratio: 16/9;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px dashed currentcolor;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
  }
  
  .picture:hover {
    color: #777;
    background: #ccc;
  }
  
  .picture:active {
    border-color: turquoise;
    color: turquoise;
    background: #eee;
  }
  
  .picture:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .picture__img {
    max-width: 100%;
  }

  .addimagem {
    display: flex;
    flex-direction: column;
  }

 .informações{
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 35px;
  color: #000000;
  margin-left: 6%;
 }
 .telefone{
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-left: 5%;
  margin-top: 5%;
}
 .numeros {
  border-radius: 5px;
  border-width: 3px;
  margin-left: 5%;
  height: 40px;
  width: 180px;
  background-color: whitesmoke;
    border: solid 2px #777;
}
.seuemail{
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-left: 5%;
  margin-top: 5%;
}
 .email {
  margin-top: -5%;
  border-radius: 5px;
  border-width: 3px;
  margin-left: 5%;
  height: 40px;
  width: 280px;
  background-color: whitesmoke;
    border: solid 2px #777;
}
.seusite{
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-left: 5%;
  margin-top: 5%;
}
 .site {
  margin-top: -5%;
  border-radius: 5px;
  border-width: 3px;
  margin-left: 5%;
  height: 40px;
  width: 180px;
  background-color: whitesmoke;
    border: solid 2px #777;
}
.enviar{
  font-family: 'Inter', sans-serif;
 border-radius: 20px;
 background-color: #FBBC05;
 width: 25%;
 height: 45px; 
 margin-top: 3%;
 margin-left: 5%;
 cursor: pointer;
 font-size: 17px;
 font-family: 'Inter', sans-serif;
}