/* Corpo do site */
body {
  background-color: #121214;
  align-items: center;
}

/* Div suprema */
.pai {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Cabeçalho */
header {
  display: flex;
  margin: auto;
  margin-top: 20px;
  background-color: #FBBC05;
  width: 90%;
  height: 50px;
  border-radius: 10px;
}

/* Ícones */

.botoestopo {
  display: flex;
 margin-left: 60%;
 
}

.icons {
  display: flex;
  width: 130px;
  height: 20px;
  margin-top: 8%;
}

.sino {
  width:30px;
  height: 30px; 
  margin-left: 100%;
  margin-top: -5%;
}


.sino:hover {
  transform: scale(1.1);
  opacity: 0.5;
}

.botaologin {
  border-radius: 18px;
  background-color: white;
  color: black;
  border: none;
  width: 80px;
  height: 35px;
  margin-left: 30%;
  margin-top: 9%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.botaologin:hover {
  transform: scale(1.05);
}



.logo {
  color: black;
  font-size: 30px;
  margin-top: 7px;
  font-family: sans-serif;
  font-weight: bold;
}

.imagemlogo {
  width: 40%;
  height: 60%;
  margin-top: 9px;
}

.logocompleto {
  display: flex;
  margin-left: 40px;
}

/* Barra de pesquisa */
.pesquisa {
  margin: 10px;
  
}

input {

  background-color: whitesmoke;
  width: 400px;
  height: 30px;
  border-radius: 15px;
  position: absolute;
  left: 30%;
  top: 37px;
  border: none;
  padding-left: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: -7px;
}

/* Botôes de categorias */



.botoes {
  display: flex;
  margin-top: 30px;
  border: none;
  width: 90%;
  border-radius: 10px;
  color: white;
  height: 80px;
  justify-content: space-between;
  margin-left: -1%
}

.botao1 {
  font-size: 15px;
  color: black;
  background-color: #FBBC05;
  border: 2px solid #FBBC05;
  border-radius: 5px;
  width: 16%;
  margin-left: 10px;
  cursor: pointer;
}
.botao2 {
  font-size: 15px;
  color: black;
  background-color: #FBBC05;
  border: 2px solid #FBBC05;
  border-radius: 5px;
  width: 16%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18%;
}
.botao3 {
  font-size: 15px;
  color: black;
  background-color: #FBBC05;
  border: 2px solid #FBBC05;
  border-radius: 5px;
  width: 16%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30%;
}
.botao4 {
  font-size: 15px;
  color: black;
  background-color: #FBBC05;
  border: 2px solid #FBBC05;
  border-radius: 5px;
  width: 16%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30%;
}
.botao5 {
  font-size: 15px;
  color: black;
  background-color: #FBBC05;
  border: 2px solid #FBBC05;
  border-radius: 5px;
  width: 16%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30%;
}
.botao6 {
  font-size: 15px;
  color: black;
  background-color: #FBBC05;
  border: 2px solid #FBBC05;
  border-radius: 5px;
  width: 16%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25%;
}

.botao1:hover {
  transform: scale(1.05);
}
.botao2:hover {
  transform: scale(1.05);
}
.botao3:hover {
  transform: scale(1.05);
}
.botao4:hover {
  transform: scale(1.05);
}
.botao5:hover {
  transform: scale(1.05);
}
.botao6:hover {
  transform: scale(1.05);
}
/* classe pai dos botões */
.textobotao{
  font-weight: 500;
  font-size: 20px;
  margin-right: 35%;
  text-align: left;
}
.textobotao1{
font-weight: 400;
 position: relative;
 top: -50%;
 right: 25%;
 font-size: 20px;
}
.textobotao2{
  font-weight: 400;
  font-size: 20px;
  text-align-last: left;  
  }
.textobotao3{
    font-weight: 400;
    font-size: 20px;
    }
.textobotao4{
      font-weight: 400;
      font-size: 20px;
      }
.textobotao5{
  font-weight: 400;
  font-size: 20px;
  }
  .textobotao6{
    font-weight: 400;
    font-size: 20px;
   
    }
  /* imagens dos botoões */

  .fogoicon{
width: 40px;
height: 50px;
margin-left: 55%;
margin-top: 10%;
}
.copowhisky{
width: 40px;
height: 50px;
}
.engrenagem{
  width: 45px;
height: 60px;
}
.pista{
  width: 45px;
  height: 60px;
}
.localizacao{
  width: 45px;
  height: 45px;
}
/* Imagem inicial */
.imagem {
  align-items: center;
  margin-top: 30px;
  width: 90%;
}

.imagem1 {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.melhorestitulos {
  font-size: 40px;
  font-weight: 800;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  left: 75px;
  line-height: 1.5;
}

.melhoressubtitulos {
  font-size: 15px;
  color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  left: 75px;
}

.melhoresimagens {
  display: flex;
  width:90%;
  margin: auto;
  justify-content: space-between;
  margin-top: 30px;
}

.imagemtop {
width: 22%;
border: white solid 5px;
border-radius: 5px;
}
.slide {
  background-color: #FBBC05;
  margin: auto;
  margin-top: 50px;
  width: 90%;
  height: 400px;
  border-radius: 10px;
  display: flex;
}

.slidetexto {
  width: 100%;
}

.slideimagem {
  width: 100%;

}


.Ajudeadar{
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 29px;
  margin-left: 20%;
  margin-top: 10%;
}


.Agoraoseu{
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: left;
  margin-left: 20%;

}

.imagempessoas {
  width: 319px;
}
:root{
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

body{
  height: 100%;
}

.hero-section{
  align-items: flex-start;
  background-image: linear-gradient(15deg, #ffff 0%, #bbbbbb 150%);
  display: flex;
  min-height: 60%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
  border-radius: 10px;
  width: 90%;
  margin-left: 5%;
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(4, 1fr); 
  }
}

.card{
  list-style: none;
  position: relative;
}

.card:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.card:hover .card__background{
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category{
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}
.cadastroloja{
  background-color: #121214;
  font-size: 15px;
  color: white;
  margin-left: 30%;
  margin-top: 6%;
  cursor: pointer;
  width: 40%;
  height: 15%;
  border-radius: 50px;
}
