<<<<<<< HEAD:Crowd/Pagina Local/visual.css
#pai {
  display: flex;
  margin-top: 40px; 
  justify-content: center;
  gap: 100px;
}

#divesquerda {

}

#divdireita{
  border-radius: 5px;
  border: #FBBC05 solid 2px;
  width: 400px;
  margin-left: 10px;
}

#maispopulares {
  border-radius: 5px;
  border: solid #FBBC05 2px;
  background-color: white;
}

#titulo {
  color: black;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 40px;

}

#titulo1 {
  color: black;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-left: 10px;

}
#titulo2 {
  color: #FBBC05;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-left: 10px;

}
#titulo3 {
  color: black;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 25px;
  margin-left: 10px;
  border: solid black 2px;
  width: 90px;
  border-radius: 5px;

}

#subtitulo {
  color: rgb(48, 48, 48);
  font-family: 'Inter', sans-serif;
  font-size: 15px;
}

.stars {
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
}

.stars::before {
  content: '\2606';
}

.stars.checked::before {
  content: '\2605';
}

#divdireita1{
  border-radius: 5px;
  background-color: lightgray;
  width: 400px;
  height: 1000px;
  margin-left: 10px;
}
=======
#pai {
  display: flex;
  
  
  justify-content: center;
}

#divesquerda {

}

#divdireita{
  border-radius: 5px;
  border: #FBBC05 solid 2px;
  width: 400px;
  margin-left: 10px;
}

#maispopulares {
  border-radius: 5px;
  border: solid #FBBC05 2px;
  background-color: white;
}

#titulo {
  color: black;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 40px;

}

#titulo1 {
  color: black;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-left: 10px;

}

#subtitulo {
  color: rgb(48, 48, 48);
  font-family: 'Inter', sans-serif;
  font-size: 15px;
}

>>>>>>> abe98b4d70ce1acaab34b4a4fd24946d19b01d8f:statics/local.css
